body {
    background-image: url(./assets/one\ piece.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
.scroll-block {
    background: rgb(255, 255, 255, 0.5);
    width: 50%;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
}
h1 {
    background: white;
    width: 50%;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
}
.alpha, .opacity {
    padding: 16px;
    margin: 12px;
    border: 2px solid white;
    border-radius: 12px;
    max-width: 720px;
}

.alpha {
    background-color: rgba(225, 225, 225, 0.5);
}
.opacity {
    background-color: white;
    opacity: 0.5;
}
.g {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
}
.linear {
    background-image: linear-gradient(to right, white, blue );
}
.radial {
    background-image: radial-gradient(white 20%, blue);
}